@import url('https://fonts.googleapis.com/css?family=Monserrat:500');
@import url("fonts/webfonts/Montserrat-Alt1.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-emphasis: none;
}

header {
    position: sticky;
    background-color: #24252a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    opacity: 0.8;
    padding: 6px 5%;
}


.nav__links {

    list-style: none;
}

.nav__links li {
    align-items: center;
    display: inline-block;
    padding: 10px 20px;
}

.nav__links li a {
    text-decoration: none;
    margin: 10px 20px;
    padding: 10px 15px;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    text-decoration: none;
    background-color: rgb(72, 72, 72);
    border-radius: 18px;
    color: white;
}

.cta button {
    padding: 9px 25px;
    background-color: rgb(34, 119, 238);
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button:hover {
    background-color: white;
    color: black;
}

.logo {
    height: 50px;
    cursor: pointer;
}

.background {
    background: rgb(34, 119, 238);
    background: linear-gradient(0deg, rgba(34, 119, 238, 1) 0%, rgba(25, 68, 94, 1) 36%, rgba(36, 37, 42, 1) 74%);
    padding-top: 5%;
    padding-bottom: 10%;
}

.content-box {
    height: 100vh;
    font-family: "Montserrat-Alt1", sans-serif;
    font-weight: 700;
    font-size: 100px;
    color: white;
    padding: 0;
    align-items: center;
    text-align: center;
}

.content-box-border {
    font-family: "Montserrat-Alt1", sans-serif;
    padding: 20px;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 65px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 20%;
    color: white;
    font-size: 22px;
    font-weight: lighter;
    text-align: center;
    font-weight: 500;
    background-color: #24252a;
    opacity: 0.8;
}

.content-box-border li {
    font-size: 42px;
    align-items: center;
    display: inline-block;
    border-style: solid;
    border: 3px grey;
    text-align: left;

    padding-top: 15%;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 29%;
    margin: 1%;
    margin-top: 5%;
    border-radius: 18px;
    background-color: #45464d;
    background-blend-mode: overlay;
    transition: all 0.3s ease 0s;
    color: #b5b8c6;

}

.content-box-border li#programmer {
    background-image: url("images/webdev3.jpg");
    background-size: cover;
}

.content-box-border li#webdev {
    background-image: url("images/PROGRAMMER2.jpg");
    background-size: cover;
}

.content-box-border li#student {
    background-image: url("images/student3.jpg");
    background-size: cover;
}

.content-box-border li:hover {
    background-blend-mode: normal;
    color: white;
}



.title {
    font-size: 80px;
    font-style: normal;
    font-weight: bold;
}

.body-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.emph {
    color: rgb(34, 119, 238);
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
}

.footer {
    font-family: "Montserrat-Alt1", sans-serif;
    font-size: 17px;
    padding: 1%;
    background-color: #24252a;
    color: white;
    opacity: 0.95;
    width: 100%;
    align-items: center;
    text-align: center;
}

.footer img {
    height: 35px;
    width: auto;
}

.slide-left {
    font-family: "Montserrat-Alt1", sans-serif;
    padding: 2%;
    background-color:#24252a;
    margin: 2%;
    opacity: 0.8;
    border-radius: 50px;
    margin-left: 8%;
    margin-right: 30%;
    display: inline-block;
    border-style: solid;
    border-color:#24252a;
    border-width: 5px;
    transition: all 0.3s ease 0s;
}

.slide-left img {
    float: left;
    height: 150px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    scale: 100%;
}

.slide-title {
    font-size: 36px;
    color: white;
    font-weight: bolder;
}

.slide-desc {
    margin-top: 20px;
    font-size: 22px;
    color: white;
}
.content {
    margin-top: 3%;
    margin-bottom: 3%;
}

.slide-right {
    font-family: "Montserrat-Alt1", sans-serif;
    padding: 2%;
    background-color: #24252a;
    opacity: 0.8;
    border-radius: 50px;
    margin: 2%;
    margin-left: 30%;
    margin-right: 8%;
    display: inline-block;
    border-style: solid;
    border-color:#24252a;
    border-width: 5px;
    transition: all 0.3s ease 0s;
}

.slide-right img {
    float: right;
    height: 150px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    scale: 100%;
}

.slide-left:hover {
    border-style: solid;
    border-color: #b5b8c6;
    border-width: 5px;
}
.slide-right:hover {
    border-style: solid;
    border-color: #b5b8c6;
    border-width: 5px;
}
